@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-background: #eeeeee;
  --color-surface: #ffffff;
  --color-surface-hover: rgb(216, 216, 216);
  --color-border: #aaaaaa;
  --color-title: #333333;
  --color-info: #777777;
  --color-info-contrast: #dddddd;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-gold: #d609ff;
  --color-streak: #d609ff;
}
